<!DOCTYPE html>
<html>
  <head>
    <title>Several People are Solving</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="banner">
      <a href="/"><h2>Several People are Solving</h2></a>
    </div>
    <div class="main-container">
      <%= yield %>
    </div>

    <!-- 🧠 This line ensures the compiled JS from Webpacker is included -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
